@charset "UTF-8";

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.projectintro{
  font-family: 'Gowun Batang', serif; 
  font-weight: bold;
}


.projectintro{
  margin-top: 50vh;
  margin-bottom: 60vh;
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.cardcol{
  margin-top: 10vh;
}

.about-self{
  margin-top: 50px;
}

/* #con-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0vh;
} */


div.card{
  width: 16rem;
  height: 32rem;
}

#skillcon{
  padding-top: 220px;

}

#middle{
  margin-top: 120px;
}

div.item{
  animation: rotate_image 12s linear infinite;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
}

@keyframes rotate_image{
  100%{
    transform: rotate(360deg);
  }
}

div.item:hover{
  animation-play-state:paused;
}

div p{
  margin-top: 100px;
}



.contactgd{
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.contactgd p{
  /* margin-top: 2rem; */
  font-size: 2rem;
  color: #535353;
  font-style: italic;
  text-align: center;
}

/* .item {
  font-weight: bold;
  text-align: center;
} */


.skill{
  width: 128px;
}
 
#git{
  width: 20%;
}



.vstack{
width: 100%;
height: 500px;

}